@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Add Recipe</h1>

<form method="post">
    <div class="form-group">
        <label>
            Recipe Name
            <input type="text" name="name" class="form-control">
        </label>
        <label>
            Dye Color
            <input type="text" name="dyeColor" class="form-control">
        </label>
    </div>
    <input type="submit" value="Calculate Recipe" />
</form>
